
body{
	margin: 0;
	top:0;
}


	header{

		background-color: 	#DC143C;
	}
.icon-bar {
    width: 100%;
    background-color: 	#DC143C;
    
    opacity: 20;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color:#555 ;
}

.active {
    background-color: #555 !important;
}
		.good {
			padding: 70px;
			font-size: 50px;
			text-align: center;
			font-family: Lucida Calligraphy;
			color: #000;
			
		}
		.nomer{
			text-align: left;
			font-size: 30px;
          

		}
		main{
				background-color: white;
				padding: 100px;

			}
		.ok{
			text-align: right; 	

		}	
		.ko{
			text-align: left;

		}
		.nain{

			text-align: center;
		}
		.a{
			text-align: center;
			font-size: 30px;
			padding: 10px; 
			color: #000;	


		}
		a.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #4CAF30;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #3e8e10;
  margin-bottom: 100px;
  text-align: center;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
#mainn{
	overflow: hidden;
	font-size: 30px;

}

.left{

	width: 33%;
	float:left;
}
.center{
	width: 33%;
	float:left;


}
hr{

	height: 1px
}

div:right{

	width: 33%;
	float: center;
}
footer {
  background-color: #DC143C;
  padding: 15px 25px;
  font-size: 36px;
  text-align: center;
  overflow: hidden;

}
.leftt{
	width: 40%;
text-align: left;
float: left;
padding-top: 150px;

}
.location{
border: 1px solid white;
	float: right;
height: 70%;
width: 70%;
margin-right:300px;

}
.in{
	font-size: 24px;
	width: 50%;
	padding: 20px 15px;
	border: 3px solid #888;
	background-color: #f1f1f1;

}
.submit{
	font-size: 20px;
width: auto;
padding: 15px 35px;
border: 3px solid #888;
background-color: #ffffff;
border-radius: 15px;

}

.submit:hover
{
	background-color: #888;
	color: #fff;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
p {
  text-align: center;
  font-size: 60px;
}
h3{

font-size: 60px;
color: #6495ED;

}
{box-sizing:border-box}



h1{
color: blue;
font-size: 40px;

}
h4{
font-size: 36px;
color: #696969;
}